.HomePage {
  display: flex;
  flex-direction: column;
  background-image: url("../../Images/benjamin-hassel-oh14CAfw6bw-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Content-home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin-bottom: 30px;
}

.Left-aside {
  width: 20%;
  min-width: 200px;
}

.Central-home {
  width: 50%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.Right-aside {
  width: 20%;
  min-width: 200px;
}

@media screen and (max-width: 900px) {
  .Content-home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Left-aside,
  .Right-aside,
  .Central-home {
    width: 90%;
    margin-bottom: 30px;
  }
}