.LoginPage {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  background-image: url("../../Images/nikolay.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.Center-box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}