.LoginPage {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-image: url("../../Images/nikolay-dimitrov-i7FJLwf-h5k-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  justify-content: space-between;
}

.Center-box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}