.SignUpPage {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-image: url("../../Images/2013-ktm-1190-adventure-r-action-07.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
}

.Center-box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}