.Event-card {
  margin-bottom: 30px;
  min-width: 400px;
}

.Data-image-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 250px;
  background-image: url("../../Images/wp6962604-adventure-motorcycle-wallpapers.jpg");
  background-position: center;
  background-size: cover;
}

.Day-location {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  position: relative;
  padding-left: 10px;
  padding-top: 10px;
  color: rgb(255, 255, 255);
}

.Data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background-color: #000000;
  border-radius: 100px;
  margin-bottom: 5px;
}

.Num-day {
  font-size: 28px;
}

.Bar {
  width: 70%;
  border: 1px solid white;
}

.Month {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 26px;
  margin-bottom: 10px;
}

.Location-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  background-color: #000000;
  border-radius: 20px;
}

.Event-image {
  width: 100%;
  position: relative;
  background-image: url("");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Description {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.Event-title {
  font-size: 36px;
  margin-bottom: 0%;
}

.Event-description-text {
  font-size: 16px;
  text-justify: auto;
}

.Ver-mas {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: linear-gradient(45deg, transparent 5%, #000000 5%);
  height: 60px;
}

.Icons {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 50%;
  margin: auto;
  padding-left: 50px;
}

.Icons-style {
  width: 40px;
  margin-right: 10px;
}

.Ver-mas-button {
  position: relative;
  width: 100px;
  height: 30px;
  font-size: 14px;
  margin: auto;
  margin-right: 0;
}