.Event-card {

  width: fit-content;
  height: fit-content;
  background: linear-gradient(45deg, transparent 5%, #000000 5%);
  margin-bottom: 30px;
}

.Data-image-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 150px;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.Data {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(60, 60, 60);
  width: 30%;
  position: relative;
  color: rgb(255, 255, 255);
}

.Num-day {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 36px;
}

.Bar {
  position: relative;
  width: 60%;
  border: 1px solid white;
}

.Month {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 30px;
  margin-bottom: 10px;
}

.Location-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  color: white;
  font-size: 22px;
}

.Event-image {
  width: 100%;
  position: relative;
  background-image: url("");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Description {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.Event-title {
  font-size: 30px;
  margin-bottom: 0%;
}

.Event-description-text {
  font-size: 16px;
  text-justify: auto;
}

.Ver-mas {
  width: 100%;
  display: flex;
  justify-content: end;
  height: 50px;
}

.Ver-mas-button {
  width: 80px;
  height: 30px;
  font-size: 14px;
  padding: 0;
  margin: 0;
}