.Group-base {
  font-family: 'Roboto';
  background: linear-gradient(45deg, transparent 5%, #000000 5%);
}

.Group-title {
  font-size: 28px;
  text-align: center;
  color: white;
  background: linear-gradient(45deg, transparent 5%, #000000 5%);
  padding-top: 40px;
  margin-bottom: 40px;
}

.Group-filter-box {
  margin: 30px;
  background-color: #ffffff;
  border: 8px solid white;
}

.MuiBox {
  background-color: #000000;
}

.searcher-icons {
  position: relative;
  width: 25px;
  margin-right: 10px;
}

.Filter-button-box {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
}

.Reset-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 36px;
  font-size: 22px;
  margin: 0;
  background: linear-gradient(45deg, transparent 15%, #ffeb10 5%);
  color: #000000;
}

.Filter-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 35px;
  font-size: 22px;
  margin: 0;
}