.Group-base {
  font-family: 'Roboto';
  background: linear-gradient(45deg, transparent 5%, #ffffff 5%);
}

.Group-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  background: linear-gradient(45deg, transparent 5%, #000000 5%);
  padding: 5px;
  margin-bottom: 40px;
}

.Group-filters-box {
  margin: 10px;
}

.Filter-button-box {
  display: flex;
  justify-content: end;
 padding-top: 15px;
  margin: 0;
}

.Filter-button {
  font-size: 24px;
  margin: 0;
}