.Group-base {
  font-family: 'Roboto';
  background-color: transparent;
}

.Group-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  background-color: black;
  margin-bottom: 40px;
}

.Filter-button-box {
  display: flex;
  justify-content: end;
  margin: 0;
}

.Filter-button {
  font-size: 22px;
  margin: 0;
}